// COLOR VARIABLES
$color-primary: #95bf47;
$color-primary-light: #b0cf77;
$color-primary-dark: #5d8e3d;

$color-secondary: #cd797c;

$color-grey-light-2: #aaa;

$color-grey-dark-1: #3d4d3f;
$color-grey-dark-2: #384739;

// FONT VARIABLES
$font-primary: "Montserrat", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-xl: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 40.625em; // 650px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;

  @media only screen and (max-width: $bp-xl) {
    font-size: 37.5%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: black;
}

.grid-container {
  display: grid;
  grid-gap: 2rem;

  grid-template-rows: min-content;
  // CENTER-START to CENTER-END = 1080px
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start]
    repeat(3, [col-start] minmax(min-content, 16rem) [col-end])
    [full-center]
    repeat(3, [col-start] minmax(min-content, 16rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
}
