*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #384739;
  font-weight: 300;
  padding: 1.5rem 0;
}

a {
  text-decoration: none;
  color: black;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 22rem) [col-end])[3] [full-center] ([col-start] minmax(min-content, 22rem) [col-end])[3] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(3, [col-start] minmax(-webkit-min-content, 22rem) [col-end]) [full-center] repeat(3, [col-start] minmax(-webkit-min-content, 22rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(3, [col-start] minmax(min-content, 22rem) [col-end]) [full-center] repeat(3, [col-start] minmax(min-content, 22rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(75rem);
            transform: translateX(75rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(75rem);
            transform: translateX(75rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  grid-column: center-start / center-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13rem 3rem 1fr;
      grid-template-rows: 13rem 3rem 1fr;
}

.header__logo {
  height: 12rem;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-bottom: 1rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header__title {
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 11rem;
  font-weight: 400;
  line-height: 1;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(40%, #deb852), to(#917835));
  background-image: linear-gradient(to bottom right, #deb852 40%, #917835);
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header__styled-text {
  display: -ms-grid;
  display: grid;
  font-size: 2rem;
  color: #deb852;
  -ms-grid-columns: 22rem max-content 22rem;
      grid-template-columns: 22rem -webkit-max-content 22rem;
      grid-template-columns: 22rem max-content 22rem;
  grid-column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header__styled-text::before, .header__styled-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

.logo-transition-enter {
  opacity: 0.01;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.logo-transition-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.logo-transition-exit {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.logo-transition-exit-active {
  opacity: 0.01;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.body {
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [main-start] (1fr)[6] [main-center] (1fr)[6] [main-end];
      grid-template-columns: [main-start] repeat(6, 1fr) [main-center] repeat(6, 1fr) [main-end];
}

.search {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -2rem;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.search__input {
  background: none;
  background-color: white;
  color: #deb852;
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 0.5rem;
  display: block;
  width: 52rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #deb852;
  margin: 1rem 0 5rem 0;
  background-color: rgba(222, 184, 82, 0.1);
}

.search__input::-webkit-input-placeholder {
  color: #deb852;
}

.search__input:-ms-input-placeholder {
  color: #deb852;
}

.search__input::-ms-input-placeholder {
  color: #deb852;
}

.search__input::placeholder {
  color: #deb852;
}

.search__input:active, .search__input:focus {
  background-color: rgba(222, 184, 82, 0.2);
  outline: none;
}

.list-headers {
  grid-column: main-start / main-end;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-bottom: 3.5rem;
  color: #deb852;
  font-size: 1.8rem;
  justify-items: center;
}

.list-headers__search {
  -ms-grid-column: 1;
  grid-column: 1;
}

.list-headers__nominations {
  -ms-grid-column: 2;
  grid-column: 2;
}

.search-results-list {
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: main-start / main-center;
  padding-right: 2rem;
}

.movie-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  padding: 2rem;
  border-radius: 3px;
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.movie-card {
  background-color: rgba(82, 36, 88, 0.1);
  color: black;
  border-bottom: 2px solid #522458;
}

.movie-card__poster {
  height: 14rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  margin-right: 2rem;
  max-width: 15rem;
  background-position: center;
  background-size: cover;
}

.movie-card__title {
  font-size: 3rem;
}

.movie-card:hover {
  background-color: rgba(82, 36, 88, 0.275);
}

.movie-card--nomination {
  background-color: rgba(222, 184, 82, 0.2);
  color: #deb852;
}

.movie-card--nomination:hover {
  background-color: rgba(222, 184, 82, 0.325);
}

.nomination-enter {
  opacity: 0.01;
}

.nomination-enter-active {
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.nomination-exit {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nomination-exit-active {
  opacity: 0.01;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.remove-nomination-enter {
  opacity: 0.01;
}

.remove-nomination-enter-active {
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.remove-nomination-exit {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.remove-nomination-exit-active {
  opacity: 0.01;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.warning-card {
  background-color: rgba(82, 36, 88, 0.1);
  color: black;
  padding: 3rem;
  border-bottom: 2px solid #522458;
  border-radius: 3px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.warning-card h2 {
  font-size: 2.5rem;
}

.warning-card p {
  font-size: 2rem;
  font-weight: normal;
}

.nominate, .remove-nomination, .submit-nominations {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  width: 18rem;
  height: 5rem;
  text-transform: uppercase;
  outline: none;
  -webkit-box-shadow: -3px 2px 5px gray;
          box-shadow: -3px 2px 5px gray;
  border: none;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nominate:hover, .remove-nomination:hover, .submit-nominations:hover, .nominate:focus, .remove-nomination:focus, .submit-nominations:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  cursor: pointer;
  background-color: #deb852;
  -webkit-box-shadow: -5px 8px 10px gray;
          box-shadow: -5px 8px 10px gray;
}

.nominate:active, .remove-nomination:active, .submit-nominations:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: rgba(222, 184, 82, 0.75);
  -webkit-box-shadow: -3px 2px 5px gray;
          box-shadow: -3px 2px 5px gray;
}

.nominate {
  margin-top: 1rem;
  background-color: rgba(222, 184, 82, 0.75);
}

.nominate:hover, .nominate:focus {
  background-color: #deb852;
}

.nominate:active {
  background-color: rgba(222, 184, 82, 0.75);
}

.remove-nomination {
  background-color: #deb852;
}

.remove-nomination:hover, .remove-nomination:focus {
  background-color: rgba(222, 184, 82, 0.9);
}

.remove-nomination:active {
  background-color: rgba(82, 36, 88, 0.75);
}

.submit-nominations {
  margin-top: 2rem;
  background-color: white;
  border: 1px solid #deb852;
  color: #deb852;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.submit-nominations:hover, .submit-nominations:focus {
  background-color: rgba(222, 184, 82, 0.9);
  color: white;
}

.submit-nominations:active {
  background-color: rgba(82, 36, 88, 0.75);
  color: white;
}

.nominated {
  display: none;
}

.nominations-list {
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: main-center / main-end;
  padding-left: 2rem;
}

.final-nomination__title {
  font-size: 3rem;
  padding: 0 5rem;
  margin-bottom: 3rem;
}

.final-nominations__list-item {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  padding: 0 5rem;
  font-weight: 500;
  color: #deb852;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
