%shared-card {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 2;

  padding: 2rem;
  border-radius: 3px;
  margin-bottom: 3rem;
  box-shadow: -5px 10px;

  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;

  transition: all 0.2s;
}

.movie-card {
  @extend %shared-card;
  background-color: rgba($color-secondary, 0.1);
  color: $color-secondary;
  border: 3px solid $color-secondary;

  &__poster {
    height: 22rem;
    grid-row: 1 / span 2;
    margin-right: 2rem;
    max-width: 15rem;
    background-position: center;
    background-size: cover;
  }

  &__title {
    font-size: 3rem;
  }

  &:hover {
    background-color: rgba($color-secondary, 0.275);
  }

  &--nomination {
    background-color: rgba($color-primary, 0.2);
    border: 3px solid $color-primary;
    box-shadow: -5px 10px $color-primary;
    color: $color-primary;

    &:hover {
      background-color: rgba($color-primary, 0.325);
    }
  }
}

// NOMINATION TRANSITIONS

.nomination-enter {
  opacity: 0.01;
}

.nomination-enter-active {
  opacity: 1;

  transition: all 500ms ease-in-out;
}

.nomination-exit {
  opacity: 1;
  transform: translateX(0);
}

.nomination-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 500ms ease-in-out;
}

// REMOVE NOMINATION TRANSITIONS

.remove-nomination-enter {
  opacity: 0.01;
}

.remove-nomination-enter-active {
  opacity: 1;

  transition: all 500ms ease-in-out;
}

.remove-nomination-exit {
  opacity: 1;
  transform: translateX(0);
}

.remove-nomination-exit-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: all 500ms ease-in-out;
}
